#userTable .table-cell {
    -fx-alignment: center;
    -fx-border-color: #afafaf;
}

.table-row-cell {
    -fx-border-color: #dcdcdc;
    -fx-border-width: 1px;
}


.table-cell {
    -fx-border-color: #dcdcdc;
    -fx-padding: 5px;
}

#userTable .column-header {
    -fx-border-color: gray;
    -fx-alignment: center;
    -fx-background-color: #85b48a;
}

#userTable .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
